# Notebook de ejemplo

**Nota:** Este material no constituye un manual de referencia completo de Python o un curso de programación de computadores en general. Si usted no tiene experiencia programando en Python, se recomienda que revise primero otros materiales, por ejemplo: [CodeCademy: Learn Python (10 hours)](https://www.codecademy.com/courses/learn-python/lessons/python-syntax/exercises/welcome?action=lesson_resume).

**Este notebook acompaña las explicaciones de la clase, no incluye explicaciones escritas**

Se presentarán los siguientes temas básicos de Python:

* Comentarios
* Tipos de dato
    * Números
        * Asignación de variables
    * Cadenas (Strings)
        * Imprimiendo en pantalla
        * Índices de cadenas
        * Troceado de cadenas (Slicing)
    * Listas
    * Diccionarios
    * Tuplas 
    * Conjuntos (Sets)
    * Booleanos
____

## Comentarios

In [2]:
# Este es un comentario de una sola línea en python
print('Este es el') # Esto también es un comentario
 
# Este es otro comentario en python
# aunque lo hemos escrito en dos lineas
 
""" Este es un comentario multilinea. La
siguiente parte realiza una serie
de cosas muy interesantes """
print('Curso rápido de')
print('Python')

Este es el
Curso rápido de
Python

## Tipos de dato

### Números

In [30]:
1 + 1

2

In [31]:
10 - 88

-78

In [32]:
1 * 3

3

In [33]:
1 / 2

0.5

In [34]:
2 ** 4

16

In [35]:
4 % 2

0

In [36]:
5 % 2

1

In [37]:
# Precedencia de operadores
2 + 3 * 5 + 5

22

In [38]:
# Los paréntesis pueden modificar la precedencia
(2 + 3) * (5 + 5)

50

#### Asignación de variables

In [39]:
# Nombres de variables: no deben empezar con números ni símbolos especiales e.g. $
variable = 2
mi_var = 6

In [40]:
x = 2
y = 3

In [41]:
z = x + y

In [42]:
z

5

### Cadenas (Strings)

In [44]:
'comilla simdple'

'comilla simdple'

In [45]:
"comillas dobles"

'comillas dobles'

In [10]:
'uso del caracter de escape para escribir el caracter de comilla simple \' dentro de una cadena con comilla simple'

"uso del caracter de escape para escribir el caracter de comilla simple ' dentro de una cadena con comilla simple"

In [11]:
"usando comillas dobles no es necesario el caracter de escape para escribir el caracter de comilla simple ' dentro de una cadena"

"usando comillas dobles no es necesario el caracter de escape para escribir el caracter de comilla simple ' dentro de una cadena"

#### Imprimiendo en pantalla

In [12]:
x = 'hello'

In [13]:
x

'hello'

In [14]:
print(x)

hello

In [2]:
num = 12
name = 'Felipe'

In [4]:

print('Mi número es: {} y mi nombre es: {}'.format(num,name))

Mi número es: 12 y mi nombre es: Felipe

In [17]:
print('Mi número es: {uno} y mi nombre es: {dos}'.format(uno=num,dos=name))

Mi número es: 12 y mi nombre es: Felipe

In [18]:
print('Mi número es: {uno} y mi nombre es: {dos}, otra vez el número: {uno}'.format(uno=num, dos=name))

Mi número es: 12 y mi nombre es: Felipe, otra vez el número: 12

In [11]:
a:{1:9}

#### Índices de cadenas

In [20]:
s = "Introducción al Análisis y Visualización de Datos con Python"

In [13]:
def f():
    f()
    return 42

In [18]:
sys.path()

NameError: name 'sys' is not defined

#### Troceado de cadenas (Slicing)

** cadena[inicio:fin:paso] **
* inicio (incluído)
* fin (excluído)

Valores por defecto: 
* inicio = 0
* fin = longitud cadena
* paso = 1 (puede ser negativo para empezar desde el final de la cadena hacia la izquierda)

In [17]:
map(a)

TypeError: map() must have at least two arguments.

In [24]:
s[:10]

'Introducci'

In [25]:
s[:]

'Introducción al Análisis y Visualización de Datos con Python'

In [103]:
s[0::2]

'Itoucó lAáii  iulzcó eDtscnPto'

In [27]:
s[::-1]

'nohtyP noc sotaD ed nóicazilausiV y sisilánA la nóiccudortnI'

In [28]:
cad = "Amor a Roma"

In [29]:
cad[::-1]

'amoR a romA'

In [105]:
oculto = "!XeXgXaXsXsXeXmX XtXeXrXcXeXsX XeXhXtX XmXaX XI"

In [108]:
mensaje = oculto[::-2]
mensaje

'I am the secret message!'

### Listas

In [ ]:
[1,2,3]

In [50]:
['a','b','c']

['a', 'b', 'c']

In [51]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [ ]:
my_list = ['a','b','c']

In [49]:
my_list

NameError: name 'my_list' is not defined

In [54]:
my_list.append('d')

NameError: name 'my_list' is not defined

In [53]:
my_list

NameError: name 'my_list' is not defined

In [52]:
my_list[0]

NameError: name 'my_list' is not defined

In [55]:
my_list[1]

NameError: name 'my_list' is not defined

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [59]:
my_list[0] = 'NEW'

NameError: name 'my_list' is not defined

In [ ]:
my_list

In [ ]:
anidada = [1,2,[3,4],5]

In [ ]:
anidada[2]

In [ ]:
anidada[2][0]

In [ ]:
anidada = [1,2,3,[4,5,['target']]]

In [ ]:
anidada[3]

In [ ]:
anidada[3][2]

In [ ]:
anidada[3][2][0]

### Diccionarios

In [ ]:
d = {'key1':'item1','key2':1000}

In [ ]:
d[0] # no funcionará

In [ ]:
d['key1']

In [ ]:
d['key2']

In [ ]:
d

In [ ]:
d = {'k1':[1, 2, 3, 4, 5], 'k2': 'Hola'}

In [ ]:
d['k1']

In [ ]:
d['k1'][3]

In [ ]:
lista = d['k1']

In [ ]:
lista

In [ ]:
lista[3]

In [ ]:
# un diccionario anidado dentro de otro diccionario
d = {'k1':{'innerkey1':[1, 2, 3, 10]}}

In [ ]:
d['k1']

In [ ]:
d['k1']['innerkey1']

In [ ]:
d['k1']['innerkey1'][3]

### Tuplas

In [60]:
lista = [1, 2, 3]

In [61]:
lista

[1, 2, 3]

In [62]:
lista [1] = 'Nuevo valor'

In [63]:
lista

[1, 'Nuevo valor', 3]

In [64]:
tupla = (1,2,3)

In [65]:
tupla

(1, 2, 3)

In [ ]:
tupla[0]

In [ ]:
tupla[0] = 'NEW'

In [ ]:
tupla      # las tuplas son inmutables, no se puedes reasignar

### Conjuntos (Sets)

Son colecciones de elementos únicos

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [ ]:
set([1, 1, 1, 2, 2, 6, 6, 2, 8, 1])

In [ ]:
s = {1, 2, 3}

In [ ]:
s

In [ ]:
s.add(5)

In [ ]:
s

In [ ]:
s.add(5)

In [ ]:
s

### Booleanos

In [66]:
True

True

In [67]:
False

False

Prueba De codigo

Panda

In [73]:
import pandas as pd

In [74]:
data= np.array([["","col1","Col2"],["Fila1",11,22],["fila2",33,44]])

NameError: name 'np' is not defined

In [71]:
print(data)a

SyntaxError: invalid syntax (<ipython-input-71-f88a4fa9b1bf>, line 1)

In [76]:
%pylab inline
import seaborn as sns
import pandas as pd
pd.set_option('precision', 5)

Populating the interactive namespace from numpy and matplotlib

Ejercicio Titanic

In [77]:
import numpy as np
import pandas as pd

In [109]:
url_test="test.csv"

In [110]:
url_train="train.csv"

In [111]:
df_test= pd.read_csv(url_test)
df_train=pd.read_csv(url_train)

In [113]:
print(df_train)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [85]:
print(pd.isnull(df_train).sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [86]:
print(pd.isnull(df_test).sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [87]:
print(df_train.describe())
print(df_test.describe())

       PassengerId   Survived     Pclass        Age      SibSp      Parch  \
count    891.00000  891.00000  891.00000  714.00000  891.00000  891.00000
mean     446.00000    0.38384    2.30864   29.69912    0.52301    0.38159
std      257.35384    0.48659    0.83607   14.52650    1.10274    0.80606
min        1.00000    0.00000    1.00000    0.42000    0.00000    0.00000
25%      223.50000    0.00000    2.00000   20.12500    0.00000    0.00000
50%      446.00000    0.00000    3.00000   28.00000    0.00000    0.00000
75%      668.50000    1.00000    3.00000   38.00000    1.00000    0.00000
max      891.00000    1.00000    3.00000   80.00000    8.00000    6.00000

            Fare
count  891.00000
mean    32.20421
std     49.69343
min      0.00000
25%      7.91040
50%     14.45420
75%     31.00000
max    512.32920
       PassengerId     Pclass        Age      SibSp      Parch       Fare
count    418.00000  418.00000  332.00000  418.00000  418.00000  417.00000
mean    1100.50000    2.26555   30.27259    0.44737    0.39234   35.62719
std      120.81046    0.84184   14.18121    0.89676    0.98143   55.90758
min      892.00000    1.00000    0.17000    0.00000    0.00000    0.00000
25%      996.25000    1.00000   21.00000    0.00000    0.00000    7.89580
50%     1100.50000    3.00000   27.00000    0.00000    0.00000   14.45420
75%     1204.75000    3.00000   39.00000    1.00000    0.00000   31.50000
max     1309.00000    3.00000   76.00000    8.00000    9.00000  512.32920

In [88]:
#procesdamiento de la data
#Cambio los datos de sexos a numeros

In [89]:
df_train["Sex"].replace(["female","male"],[0,1],inplace=True)
df_test["Sex"].replace(["female","male"],[0,1],inplace=True)

In [90]:
# cambio los datos de embarque en numeros

In [91]:
df_train["Embarked"].replace(["Q","S","C"],[0,1,2],inplace=True)
df_test["Embarked"].replace(["Q","S","C"],[0,1,2],inplace=True)

In [92]:
print(df_train["Age"].mean())
print(df_test["Age"].mean())

29.69911764705882
30.272590361445783

In [93]:
promedio=30
df_train["Age"]=df_train["Age"].replace(np.nan,promedio)
df_test["Age"]=df_test["Age"].replace(np.nan,promedio)

In [94]:
bins=[0,8,15,18,25,40,60,100]

In [95]:
names=["1","2","3","4","5","6","7"]

In [96]:
df_train["Age"]=pd.cut(df_train["Age"],bins,labels=names)
df_test["Age"]=pd.cut(df_test["Age"],bins,labels=names)

In [97]:
#Se elimina Cabine
df_train=df_train.drop(["PassengerId","Name","Ticket"],axis=1)
df_test=df_test.drop(["Name","Ticket"],axis=1)

In [98]:
#eliminan datos perdidos
df_train.dropna(axis=0,how="any",inplace=True)
df_test.dropna(axis=0,how="any",inplace=True)

In [99]:
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [100]:
print(df_train.shape)

(202, 9)

In [101]:
print(df_test.shape)

(91, 9)

In [102]:
print(df_test.head())
print(df_train.head())

    PassengerId  Pclass  Sex Age  SibSp  Parch      Fare            Cabin  \
12          904       1    0   4      1      0   82.2667              B45
14          906       1    0   6      1      0   61.1750              E31
24          916       1    0   6      1      3  262.3750  B57 B59 B63 B66
26          918       1    0   4      0      1   61.9792              B36
28          920       1    1   6      0      0   30.5000              A21

    Embarked
12         1
14         1
24         2
26         2
28         1
    Survived  Pclass  Sex Age  SibSp  Parch     Fare Cabin  Embarked
1          1       1    0   5      1      0  71.2833   C85       2.0
3          1       1    0   5      1      0  53.1000  C123       1.0
6          0       1    1   6      0      0  51.8625   E46       1.0
10         1       3    0   1      1      1  16.7000    G6       1.0
11         1       1    0   6      0      0  26.5500  C103       1.0